<h2>Basic Initialization</h2>
<ul>
  <li>{{#link-to "examples.zero-configuration"}}Zero Configuration{{/link-to}}</li>
  <li>{{#link-to "examples.feature-enable-disable"}}Feature Enable/Disable{{/link-to}}</li>
</ul>